.App {
  padding: 30px;
}

.App h1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid rgba(0,0,0,0.1);
}

.pop-over {
  padding: 20px;
}

.pop-over .my-statement {
  color: #e8a411;
}
.sticky-button {
  position: fixed !important;
  top: 30px;
  right: 30px;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  width: 40% !important;
}
